<!doctype html>
<html>

  <div class="container py-5">
    <header class="text-center text-white py-5">
      <h1 class="display-4 font-weight-bold mb-4">ViviendasLeon Crop Predictor</h1>
      <p class="lead mb-0">ViviendasLeon is a non-profit, 501 c 3 U.S. organization and registered NGO in Nicaragua. Our mission is to eliminate rural poverty in Central America.  We empower and equip rural communities to be the agents of their own transformation.

ViviendasLeon’s development program empowers rural families to improve their standard of living by building their capacities in areas of resilience, self esteem, cooperation and leadership, while training for environmental stewardship, farming and small business development.</p>
      <p class="font-italic">Official Website: <a href="https://viviendasleon.org/" class="text-white">
          <u>ViviendasLeon</u></a>
      </p>
    </header>

    <div class="text-white">
    </div>
    <p class="lead">Input the following values and we'll output our best recommendation for which crop to plant</p>

  </div>
<style>
body {
  background-image: url("https://st.depositphotos.com/1086305/3184/i/600/depositphotos_31843785-stock-photo-traditional-farm.jpg"), url("paper.gif");
  background-color: #cccccc;
      background-position: center;
  background-size: cover;
}
</style>
</head>
<body>

</style>
<head>
    <title>Crop Predictor</title>
</head>
<form action="{{ url_for('main') }}" method="POST">
    <fieldset>
        <legend><b>Input Values:<b> [If answer FALSE enter: "0" and if answer TRUE enter: "1"]</legend>
        <b>% Disease:
        <input name="% Disease" type="number" required>
        <br>
        <br> <b>Wellness_Condition:
        <input name="Wellness_Condition" type="number" required>
        <br>
        <br> <b>HeatIndexC:
        <input name="HeatIndexC" type="number" required>
        <br>
        <br>
        <br> <b>DewPointC:
        <input name="DewPointC" type="number" required>
        <br>
        <br>
        <br> <b>WindChillC:
        <input name="WindChillC" type="number" required>
        <br>
        <br>
        <br> sunHour:
        <input name="sunHour" type="number" required>
        <br>
        <br>
        <br> <b>Region Troilo<b> [Enter: "0" or "1"]:
        <input name="Region_Troilo" type="number" required>
        <br>
        <br>
        <br> <b>Season_Fall<b> [Enter: "0" or "1"]:
        <input name="Season_Fall" type="number" required>
        <br>
        <br>
        <br> <b>Season_Spring<b> [Enter: "0" or "1"]:
        <input name="Season_Spring" type="number" required>
        <br>
        <br>
        <br> <b>Season_Summer<b> [Enter: "0" or "1"]:
        <input name="Season_Summer" type="number" required>
        <br>
        <br>
        <br> <b>Season_Winter<b> [Enter: "0" or "1"]:
        <input name="Season_Winter" type="number" required>
        <br>
        <br>
        <br> <b>Region_Goyena [Enter: "0" or "1"]:
        <input name="Region_Goyena" type="number" required>
        <br>
        <br>
        <br>
        <input type="submit">
    </fieldset>
</form>
<br>
<div class="result" align="center">
    {% if result %}
        {% for variable, value in original_input.items() %}
            <b>{{ variable }}</b> : {{ value }}
        {% endfor %}
        <br>
        <br> Predicted crop:
           <p style="font-size:60px">{{ result }}</p>
    {% endif %}
</div>
</html>
